body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 100px rgb(198, 195, 204);
    padding: 20px;
    width: 100%;
    max-width: 800px;
    text-align: center;
    margin-top: 200px;
}

h1 {
    margin-bottom: 20px;
}

.number-input {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.number-input img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.number-input input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.number-input button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
}

.number-input button:hover {
    background-color: #218838;
}

.check-all {
    margin-top: 20px;
    padding: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.check-all:hover {
    background-color: #0056b3;
}

#result-message {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

/* CSS pour l'image agrandie */
.image-enlarged {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;  /* Augmentez cette valeur pour agrandir l'image */
    height: auto;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* CSS pour le fond noir derrière l'image agrandie */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999;
    display: none;
}

/* CSS pour la nouvelle image (optionnel, si vous voulez ajouter des styles spécifiques) */
.new-image {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: auto;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
